:root {
    --button-width: 200px;
    --button-hover-width: calc(var(--button-width) * 1.2);
    --gradient: linear-gradient(
        45deg,
        #432371ff,
        #623A73ff,
        #805174ff,
        #9F6976ff,
        #BD8078ff,
        #DC9779ff,
        #FAAE7Bff
    );
    --cell-size: 50px;
    --svg-size: calc(var(--cell-size) - 10px);
}

html {
    user-select: none;
}

body {
    font-family: Calibri, serif;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.vh-100 {
    height: 100vh;
}

.max-height-0 {
    max-height: 0;
}

.margin-0 {
    margin: 0;
}

.margin-8 {
    margin: 8px;
}

.margin-16 {
    margin: 16px;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-16-8 {
    margin: 16px 8px;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.flex-direction-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-48 {
    font-size: 48px;
}

.btn {
    border: none;
    border-radius: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn.btn-menu {
    margin: 8px;
    font-size: 24px;
    width: var(--button-width);
    height: calc(var(--button-width)/4);
    transition: height 0.3s, width 0.3s;
}

.btn.btn-menu:hover {
    width: var(--button-hover-width);
    height: calc(var(--button-hover-width)/4);
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

.border-radius-8 {
    border-radius: 8px;
}

.border-radius-16 {
    border-radius: 16px;
}

.color-wihte {
    color: white;
}

.background-color-white {
    background-color: white;
}

.background-color-transparent {
    background-color: transparent;
}

.overflow-hidden {
    overflow: hidden;
}

.white-base {
    background-color: white;
    border: white solid 8px;
    border-radius: 8px;
    align-self: center;
}

#details {
    transition: max-height 0.3s ease-in-out;
}

#play-field {
    border-collapse: collapse;
    border-spacing: 0;
}

#play-field td {
    border: 2px solid black;
    margin: 0;
    width: var(--cell-size);
    height: var(--cell-size);
    text-align: center;
    color: white;
    font-size: 32px;
}

#play-field img {
    width: var(--svg-size);
    height: var(--svg-size);
    display: block;
    margin: auto;
}

#play-again {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

@media screen and (max-width: 1080px) {
    .display-flex-sm {
        display: flex;
    }

    .flex-1-sm {
        flex: 1;
    }

    .flex-col-center-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .justify-content-center-sm {
        justify-content: center;
    }
}