:root {
    --button-width: 200px;
    --button-hover-width: calc(var(--button-width) * 1.2);
    --gradient: linear-gradient(
        45deg,
        #432371ff,
        #623A73ff,
        #805174ff,
        #9F6976ff,
        #BD8078ff,
        #DC9779ff,
        #FAAE7Bff
    );
    --cell-size: 50px;
    --svg-size: calc(var(--cell-size) - 10px);
}

html {
    height: 100vh;
    user-select: none;
}

body {
    font-family: Calibri, serif;
    margin: 0;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

h1 {
    text-align: center;
    font-size: 48px;
    color: white;
}

#name {
    margin: 16px;
}

#main {
    display: flex;
    margin: 16px 8px;
}

#buttons {
    flex: 2;
}

#buttons button {
    width: var(--button-width);
    height: calc(var(--button-width)/4);
    margin: 8px;
    border: none;
    border-radius: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    transition: height 0.3s, width 0.3s;
}

#buttons button:hover {
    width: var(--button-hover-width);
    height: calc(var(--button-hover-width)/4);
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

#ranking {
    flex: 1;
}

#details {
    max-height: 0;
    background-color: white;
    border-radius: 16px;
    margin: 16px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

#details p, ul, h2 {
    margin: 16px;
}

#game {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#game div {
    padding: 8px;
    background-color: white;
    border-radius: 8px;
}

#play-field {
    border-collapse: collapse;
    border-spacing: 0;
}

#play-field td {
    border: 2px solid black;
    margin: 0;
    width: var(--cell-size);
    height: var(--cell-size);
    text-align: center;
    color: white;
    font-size: 32px;
}

#play-field img {
    width: var(--svg-size);
    height: var(--svg-size);
    display: block;
    margin: auto;
}

@media screen and (max-width: 1080px) {
    #buttons button {
        display: block;
    }
    #buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .flex-col-center-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}